<div class = "container">
  <div class = "row">
    <div class = "col-md-6">
      <p>
        The computer played <%= @computer_move %>
      </p>

      <% if @computer_move == "rock" %>
      <img src = "http://localhost:3000/assets/images/rock.png" width = "200">
      <% end %>

      <% if @computer_move == "paper" %>
      <img src = "http://localhost:3000/assets/images/paper.png" width = "200">
      <% end %>

      <% if @computer_move == "scissors" %>
      <img src = "http://localhost:3000/assets/images/scissors.png" width = "200">
      <% end %>
    </div>

    <div class = "col-md-6">
      <p>
        You played <%= @user_move %>
      </p>

      <% if @user_move == "rock" %>
      <img src = "http://localhost:3000/assets/images/rock.png" width = "200">
      <% end %>
    </div>
  </div>
</div>

<p> <%= @game_results %> </p>

<% if @game_results == "You tied!"%>
<h3> You tied! </h3>
<% end %>

<% if @game_results == "You win!"%>
<h3> You win! </h3>
<% end %>

<% if @game_results == "You lose!"%>
<h3> You lose! </h3>
<% end %>
